<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="org.apache.cordova.videoplayer"
    version="0.1.0">
    <name>videoplayer</name>
    <description>Cordova VideoPlayer Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,videoplayer</keywords>

    <js-module src="www/videoplayer.js" name="videoplayer">
        <clobbers target="videoplayer" />
    </js-module>



    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayerPlugin" >
                <param name="android-package" value="org.apache.cordova.videoplayer.VideoPlayerPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="@string/app_name" android:launchMode="singleTask" android:name="org.apache.cordova.videoplayer.VideoPlayer" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        </config-file>

        <source-file src="src/android/VideoPlayerPlugin.java" target-dir="src/org/apache/cordova/videoplayer" />
        <source-file src="src/android/VideoPlayer.java" target-dir="src/org/apache/cordova/videoplayer" />
    </platform>



</plugin>
